{% extends 'core_sm/base.html' %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
    <h1>Zerowanie hasła</h1>
    {% if validlink %}
        <p>Dwukrotnie podaj nowe hasło:</p>
        <form action="." method="POST">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zmień hasło"></p>
        </form>
    {% else %}
        <p>Łącze pozwalające na wyzerowanie hasła jest nierpawidłowe, ponieważ
        prawdopodobnie zostało już wcześniej użyte. Musisz ponownie rozpocząć
        procedurę zerowania hasła.</p>
    {% endif %}
{% endblock %}