bokeh==0.12.3
cycler==0.10.0
dj-database-url==0.4.2
Django==1.10.1
djangorestframework==3.4.7
docutils==0.13.1
gunicorn==19.7.0
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.3
numpy==1.11.2
pandas==0.19.1
postgres==2.2.1
psycopg2==2.7
PyInstaller==3.2
pyparsing==2.1.10
python-dateutil==2.5.3
pytz==2016.6.1
PyYAML==3.12
requests==2.11.1
robotframework==3.0.2
selenium==3.0.2
six==1.10.0
superzippy==0.0.9
tornado==4.4.2
whitenoise==3.3.0
