{% extends 'core_sm/base.html' %}
{% load staticfiles%}

{% block title %}{{ category_title }}{% endblock %}

{% block content %}
<h3>{{ category_title }}</h3>

<table>
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Budżet</th>
            </tr>
        </thead>
        <tbody>
            {% for item, budget_title, dates, url in data %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.value }}</td>
                <td><a href="/costs/{{ url }}/">{{ dates }}</a></td>
                <td><a href="/budget/{{ item.budget_id }}/">{{ budget_title }}</a></td>
                <td><a href="/delete/{{ item.id }}/">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td scope="col">Suma</td>
                <td>{{ data_sum }}</td>
            </tr>
            <tr>
                <td>Średnia</td>
                <td>{{ data_avg }}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>{{ data_min }}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>{{ data_max }}</td>
            </tr>
        </tfoot>
    </table>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Nazwa budżetu</th>
                    <th>Wydana kwota</th>
                </tr>
            </thead>
                <tbody>
                {% for title, spends, id in category_budget_data %}
                <tr>
                    <td><a href="/budget/{{ id }}/">{{ title }}</a></td>
                    <td>{{ spends }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}