{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}Edycja kategorii{% endblock %}

{% block content %}

<table>
    <thead>
        <tr>
            <th>Kategorie</th>
            <th>Suma</th>
        </tr>
    </thead>
    <tbody>
    {% for item, total in data %}
        <tr>
            <td class="button-setup"><a href="/category/{{ item.id }}/">{{ item.title }}</a></td>
            <td>{{ total }}</td>
            <td class="button-setup"><a href="/category_edit/{{ item.id }}/">Edycja</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

    <form method="POST">
        {{ form }}
        {% csrf_token %}
        <input type="submit" value="Dodaj">
    </form>
{% endblock %}