{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Kategoria {{ category_title }} za rok {{ year }}
{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
    <h3>Podsumowanie kategorii {{ category_title }} za rok {{ year }}</h3>
<div class="center">
    <div class="button">
        <ul>
            <li><a href={{ back }}>Poprzedni rok</a></li>
            <li><a href="/costs/{{ year }}/">Podsumowanie całego roku</a></li>
            <li><a href={{ another }}>Kolejny rok</a></li>
        </ul>
    </div>
</div>



<div>
    <div class="table">
    {{ div }}
    {{ script }}
    </div>

    <div class="table">
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ZŁ</th>
            </tr>
        </thead>
        <tbody>
        {% for month, data, month_url in all_data %}
            <tr>
                <th scope="row"><a href="/category/{{ category_id }}/{{ year }}/{{ month_url }}/">{{ month }}</a></th>
                <th>{{ data }}</th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Suma</th>
                <th>{{ year_sum }}</th>
            </tr>
        </tfoot>
    </table>
    </div>
</div>

<div>
    <div class="table">
        {{ div1 }}
        {{ script1 }}
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nazwa budżetu</th>
                    <th>Wydana kwota</th>
                </tr>
            </thead>
            <tbody>
                {% for title, spends, id in year_budget_data %}
                    <tr>
                        <td><a href="/budget/{{ id }}/{{ year }}/">{{ title }}</a></td>
                        <td>{{ spends }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}