{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Kategoria {{ category_title }} za rok {{ year }}
{% endblock %}

{% block content %}
    <h3>Podsumowanie kategorii {{ category_title }} za rok {{ year }}</h3>
    <a href={{ another }}>Kolejny rok</a>
    <a href={{ back }}>Poprzedni rok</a>
    <a href="/costs/{{ year }}/">Podsumowanie całego roku</a>

<div>
    <table>
        <thead>
            <tr>
                <th>Nazwa budżetu</th>
                <th>Wydana kwota</th>
            </tr>
        </thead>
        <tbody>
            {% for title, spends, id in year_budget_data %}
                <tr>
                    <td><a href="/budget/{{ id }}/{{ year }}/">{{ title }}</a></td>
                    <td>{{ spends }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    <div>
    {{ div }}
    {{ script }}
    </div>

    <div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ZŁ</th>
            </tr>
        </thead>
        <tbody>
        {% for month, data, month_url in all_data %}
            <tr>
                <th scope="row"><a href="/costs/{{ year }}/{{ month_url }}/">{{ month }}</a></th>
                <th>{{ data }}</th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Suma</th>
                <th>{{ year_sum }}</th>
            </tr>
        </tfoot>
    </table>
    </div>
{% endblock %}