{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}Podsumowanie budżetu "{{ title }}" {{ day }}/{{ month }}/{{ year }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Podsumowanie budżetu {{ title }} za dzień {{ day }}.{{ month }}.{{ year }}</h3>
<h3>Saldo {{ total_budget }}</h3>
{% if budget_owner != request.user.username %}
    <h4>Budżet należy do użytkownika {{ budget_owner }}.</h4>
    <h4>Nie masz dostępu do zawartości budżetu.</h4>
{% endif %}

<div class="center">
    <div class="button">
        <ul>
            <li><a href="/budget/{{ id }}/{{ year }}/{{ month }}/">Podgląd miesięczny</a></li>
            <li><a href="/budget/{{ id }}/{{ year}}/">Podgląd roczny</a></li>
        </ul>
    </div>
</div>

<div class="col-sm-4">
    {{ div }}
    {{ script }}
</div>

<div class="col-sm-8">
    <table class="table">
        <thead>
        <tr>
            <th>Kategoria</th>
            <th>Zł</th>
            <th>Procent wydatków</th>
        </tr>
        </thead>
        <tbody>
        {% if not categories_title and not categories_id and not categories_values %}
        <tr>
            <th scope="row">Brak</th>
            <td>Brak</td>
            <td>Brak</td>
        </tr>
        {% else %}
        {% for title, value, id, percent in category_zip %}
        <tr>
            <th scope="row"><a href="/category/{{ id }}/{{ year }}/{{ month }}/{{ day }}/">{{ title }}</a></th>
            <td>{{ value }}</td>
            <td>{{ percent }}%</td>
        </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">Zł</th>
        <th scope="col">Kategoria</th>
    </tr>
    </thead>
    <tbody>
    {% for item, category in day_data_zip %}
    <tr>
        <th scope="row">{{ item.title }}</th>
        <td>{{ item.value }}</td>
        <td>{{ category }}</td>
        <td class="button-setup"><a href="/delete/{{ item.id }}/">Usuń</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Suma</th>
        <td>{{ day_sum }}</td>
    </tr>
    <tr>
        <th>Średnia</th>
        <th>{{ day_avg }}</th>
    </tr>
    </tfoot>
</table>

{% endblock %}