{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}Test{% endblock %}

{% block content %}
    <h1>TEST</h1>
<h1>Day Data</h1><p>{{ Day_Data }}</p>
<h1>Value</h1><p>{{ value }}</p>
<h1>Title</h1><p>{{ title }}</p>
<h1>Category</h1><p>{{ category }}</p>
<h1>Budget</h1><p>{{ budget }}</p>
<h1>Cost Id</h1><p>{{ cost_id }}</p>
<h1>Day Max</h1><p>{{ day_max }}</p>
<h1>Day Avg</h1><p>{{ day_avg}}</p>
<h1>Categories title</h1><p>{{ categories_title }}</p>
<h1>Categories id</h1><p>{{ categories_id }}</p>
<h1>Categories sum</h1><p>{{ categories_sum}}</p>
<h1>Budget Titles</h1><p>{{ budget_titles }}</p>
<h1>Budget Values</h1><p>{{ budget_values }}</p>

{% endblock %}