{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <script type="text/javascript"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="logo-background">
    <span class="logo">Spending Manager</span>
        </div>
    <header>
        <nav>
            <ul class="bar">
                <li><a href="/">Menu glowne</a></li>
                <li><a href="{% url 'core_sm:costs_stats' %}">Znajdz statystyke</a></li>
                <li><a href="{% url 'core_sm:day_data_multiadd' %}">Multi-dodaj</a></li>
                <li><a href="{% url 'core_sm:stats_comp' %}">Porównanie</a></li>
                <li><a href="{% url 'core_sm:budget_setup' %}">Opcje budżetu</a></li>
                <li><a href="{% url 'core_sm:category_setup' %}">Opcje kategorii</a></li>
            </ul>
        </nav>
    </header>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <div id="quick-add">
            <p>Szybkie dodawanie</p>
            {% if sent %}
                    <h3>Wydatek dodany!</h3>
            {% endif %}
            <form method="POST">
                {{ add_form.as_p}}
                {% csrf_token %}
                <input type="submit" value="Dodaj">
            </form>
        </div>
</body>
</html>