{% load staticfiles %}
<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <script type="text/javascript"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div>
        <ul>
            <li><a href="/">Menu glowne</a></li>
            <li><a href="{% url 'core_sm:costs_stats' %}">Znajdz statystyke</a></li>
            <li><a href="{% url 'core_sm:data_add' %}">Dodaj wydatek</a> </li>
            <li><a href="{% url 'core_sm:day_data_multiadd' %}">Multi-dodaj</a></li>
        </ul>
    </div>
    <div>
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>