{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Dzień {{ day }}/{{ month }}/{{ year }}
{% endblock %}

{% block content %}
<h3>Statystyki za {{ year }}.{{ month }}.{{ day }}</h3>
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Wartość</th>
                    <th scope="col">Kategoria</th>
                </tr>
            </thead>
            <tbody>
            {% for title, value, category, id in all_data %}
                <tr>
                    <th scope="row">{{ title }}</th>
                    <td>{{ value }}</td>
                    <td>{{ category }}</td>
                    <td><a href="/delete/{{ id }}">Usuń</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Podsumowanie</th>
                    <td>{{ day_sum }}</td>
                </tr>
            </tfoot>
        </table>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kategoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Największy wydatek</th>
                        {% for item in day_max %}
                        <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Najmniejszy wydatek</th>
                        {% for item in day_min %}
                        <th>{{ item }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <th scope="row">Średnia</th>
                        <th>{{ day_avg }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            {{ div }}
            {{ script }}
        </div>
{% endblock %}