{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Dzień {{ day }}/{{ month }}/{{ year }}
{% endblock %}

{% block content %}
<h3>Podusmowanie dnia {{ day }}.{{ month }}.{{ year }}</h3>
    <a href="/costs/{{ year}}/{{ month }}/">Podgląd miesięczny </a>
    <a href="/costs/{{ year}}/">Podgląd roczny</a>
    <a href={{ another }}>Kolejny dzień</a>
    <a href={{ back }}>Poprzedni dzień</a>
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Wartość</th>
                    <th scope="col">Kategoria</th>
                    <th scope="col">Budżet</th>
                </tr>
            </thead>
            <tbody>
            {% for item, budget_title in all_data %}
                <tr>
                    <th scope="row">{{ item.title }}</th>
                    <td>{{ item.value }}</td>
                    <td>{{ item.category }}</td>
                    <td><a href="/budget/{{ item.budget_id }}/{{ year }}/{{ month }}/{{ day }}/">{{ budget_title }}</a></td>
                    <td><a href="/delete/{{ item.id }}/">Usuń</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Podsumowanie</th>
                    <td>{{ day_sum }}</td>
                </tr>
            </tfoot>
        </table>
        </div>

        <div>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kategoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Największy wydatek</th>
                        {% if day_max != 0 %}
                            {% for item in day_max %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Najmniejszy wydatek</th>
                        {% if day_min != 0 %}
                            {% for item in day_min %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Średnia</th>
                        <th>{{ day_avg }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Nazwa budżetu</th>
                        <th>Wydana kwota</th>
                    </tr>
                </thead>
                <tbody>
                {% for title, spends, id in day_budget_data %}
                <tr>
                    <td><a href="/budget/{{ id }}/">{{ title }}</a></td>
                    <td>{{ spends }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div>
            {{ div }}
            {{ script }}
        </div>
            <table>
                <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>ZŁ</th>
                </tr>
                </thead>
                <tbody>
                    {% for cat, data in categories_res %}
                        <tr>
                            <th scope="row">{{ cat }}</th>
                            <td>{{ data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
{% endblock %}