{% extends 'core_sm/base.html' %}

{% load staticfiles %}
{% block title %}
    {% if datemonthyear %}{{ datemonthyear.title }}{% else %}Miesiące{% endif %}
{% endblock %}

{% block content %}
    <div class="sidebar">
        <h3>Miesiące</h3>
        <ul>
            <li>
                <a href="{% url 'core_sm:cost_list' %}">Wszystkie</a>
            </li>
            {% for a in datesmonthsyears %}
            <li {% if datemonthyears_slug == a.slug %} class="selected" {% endif %}>
                <a href="{{ a.get_absolute_url }}">{{ a.title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <h1>{% if datemonthyear %}{{ datemonthyear.title }}{% else %}Miesiące{% endif %}</h1>
        {% for cost in costs %}
        <div>
            <a href="{{ costs.get_absolute_url }}"{{ cost.name }}<br> {{ cost.value }} zł
        </div>
        {% endfor %}
    </div>
{% endblock %}