{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Miesiąc {{ month }}/{{ year }}
{% endblock %}

{% block content %}
<h3>Podsumowanie miesiąca {{ month }}.{{ year }}</h3>
<div class="center">
    <div class="button">
        <ul>
            <li><a href={{ back }}>Poprzedni miesiąc</a></li>
            <li><a href="/costs/{{ year }}/">Podgląd bieżacego roku</a></li>
            <li><a href={{ another }}>Następny miesiąc</a></li>
        </ul>
    </div>
</div>

        <table>
            <tbody>
                <tr>
                    <th>Najwięcej wydano</th>
                    <td>{{ max_month_value }}</td>
                    <th>Najmniej wydano</th>
                    <td>{{ max_month_day }}</td>
                </tr>
                <tr>
                    <th>W dniu</th>
                    <td>{{ max_month_day }}</td>
                    <th>W dniu</th>
                    <td>{{ min_month_day }}</td>
                </tr>
            </tbody>
        </table>
<div>
    <div class="table-month">
        {{ div }}
        {{ script }}
    </div>
    <div>
        <table class="table-month">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Suma</th>
                    <th scope="col">Kwota maksymalna</th>
                    <th scope="col">Kwota minimalna</th>
                    <th scope="col">Średnia</th>
                </tr>
            </thead>
            <tbody>
                {% for day, sum, max, min, avg in day_data %}
                <tr>
                    <th scope="row"><a href="/costs/{{ year }}/{{ month }}/{{ day }}/">Dzień {{ day }}</a></th>
                    <td>{{ sum }}</td>
                    <td>{{ max }}</td>
                    <td>{{ min }}</td>
                    <td>{{ avg }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Cały miesiąc</th>
                    <td>{{ sum_cost }}</td>
                    <td>{{ max_cost }}</td>
                    <td>{{ min_cost }}</td>
                    <td>{{ avg_cost }}</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

<div>
    <div class="table">
        {{ div1 }}
        {{ script1 }}
    </div>

    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>ZŁ</th>
            </tr>
        </thead>
        <tbody>
        {% for cat, data, id in categories_res %}
            <tr>
                <td scope="row"><a href="/category/{{ id }}/{{ year }}/{{ month }}/">{{ cat }}</a></td>
                <td>{{ data }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Nazwa budżetu</th>
                    <th>Wydana kwota</th>
                </tr>
            </thead>
            <tbody>
                {% for title, spends, id in month_budget_data %}
                    <tr>
                        <td><a href="/budget/{{ id }}/{{ year }}/{{ month }}/">{{ title }}</a></td>
                        <td>{{ spends }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>

{% endblock %}