{% extends 'core_sm/base.html' %}
{% load staticfiles %}


{% block title %}
    Multi dodawanie
{% endblock %}

{% block content %}
    {% if add %}
        <h3>Wydatki zostały dodane!</h3>
    {% endif %}
    <h3>Multi dodawanie</h3>

    <form method="POST" class="multi-form">
        {% csrf_token %}
        {{ generate_form }}
        <input type="submit" name="no_line" value="Generuj">
    </form>

    <form method="POST" class="multi-form">
        {{ formset.as_table }}
        {% csrf_token %}
        <input type="submit" name="form" value="Dodaj">
    </form>

{% endblock %}