{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Strona startowa
{% endblock %}

{% block content %}
    <p>Witaj w programie 'Spending Manager'</p>
    <div class="center">
        <div class="button">
            <ul>
                <li><a href="/costs/{{ year }}/">Wybierz aktualny rok</a></li>
                <li><a href="/costs/{{ year }}/{{ month }}/">Wybierz aktualny miesiąc</a></li>
                <li><a href="/costs/{{ year }}/{{ month }}/{{ day }}/">Wybierz aktualny dzień</a></li>
            </ul>
        </div>
    </div>
<script src="/static/js/script.js"></script>
{% endblock %}