{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}Porównanie od {{ date_x }} do {{ date_y }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content%}
<h3>Zestawienie od {{ date_x }} do {{ date_y }}</h3>

<div class="form-container">
<form action="" method="POST" class="form-inline">
    <div class="form-group">
    {{ form }}
    {% csrf_token %}
    </div>
    <input type="submit" value="Porównaj">
</form>
</div>

<div class="col-sm-6">
{{ div }}
{{ script }}
</div>

<table class="col-sm-6">
    <thead>
    <tr>
        <th>Kategoria</th>
        <th scope="row">Suma</th>
    </tr>
    </thead>
    <tbody>
    {% for title, value in categories_res %}
    <tr>
        <td>{{ title }}</td>
        <td>{{ value }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="col-sm-6">
    {{ div_2 }}
    {{ script_2 }}
</div>

<table class="table">
    <thead>
    <tr>
        <th>Nazwa budżetu</th>
        <th>Wydana kwota</th>
    </tr>
    </thead>
    <tbody>
    {% for title, spends, id in comp_budget_data %}
    <tr>
        <td><a href="/budget/{{ id }}/">{{ title }}</a></td>
        <td>{{ spends }}</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td><b>Suma budżetów</b></td>
        <td>{{ budgets_sum }}</td>
    </tr>
    <tr>
        <td><b>Suma wydatków</b></td>
        <td>{{ total_cost_per_budget }}</td>
    </tr>
    <tr>
        <td><b>Saldo</b></td>
        <td><b>{{ total_budget }}</b></td>
    </tr>
    </tfoot>
</table>


<table class="table">
    <thead>
    <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Cena</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Kategoria</th>
        <th scope="col">Budżet</th>
    </tr>
    </thead>
    <tbody>
    {% for item, budget_title, dates, url in cost_data %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.value }}</td>
        <td><a href="/costs/{{ url }}/">{{ dates }}</a></td>
        <td>{{ item.category }}</td>
        <td><a href="/budget/{{ item.budget_id }}/">{{ budget_title }}</a></td>
        <td><a href="/delete/{{ item.id }}/">Usuń</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td scope="col"><b>Suma</b></td>
        <td><b>{{ data_sum }}</b></td>
    </tr>
    <tr>
        <td scope="col"><b>Średnia</b></td>
        <td><b>{{ data_avg }}</b></td>
    </tr>
    </tfoot>
</table>

{% endblock %}
