{% extends 'core_sm/base.html' %}

{% load staticfiles %}
{% block title %}
    Wywolywanie statystyk
{% endblock %}
{% block script %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
$(document).ready(function() {
    $('.datepicker').datepicker({dateFormat: 'yy/mm/dd'});
});
</script>
{% endblock %}

{% block content %}
    <form action="{% url 'core_sm:costs_stats' %}" method="POST" role="form">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" value="Przycisk">
    </form>

{% endblock %}

