{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ date_x }} - {{ date_y }}{% endblock %}

{% block content%}

    <h3>Zestawienie od {{ date_x }} do {{ date_y }}</h3>
    <table>
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td scope="col">Suma</td>
                <td>{{ data_sum }}</td>
            </tr>
            <tr>
                <td>Średnia</td>
                <td>{{ data_avg }}</td>
            </tr>
            <tr>
                <td>Min</td>
                <td>{{ data_min }}</td>
            </tr>
            <tr>
                <td>Max</td>
                <td>{{ data_max }}</td>
            </tr>
        </tfoot>
    </table>

{{ div }}
{{ script }}

<table>
    <thead>
        <tr>
            <th></th>
            <th scope="row">Suma</th>
        </tr>
    </thead>
    <tbody>
        {% for cat, cat_data in categories_res %}
        <tr>
            <th>{{ cat }}</th>
            <th>{{ cat_data }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="" method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <input type="submit" value="Dodaj">
</form>
{{ message }}

{% endblock %}
