{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}
    Rok {{ year }}
{% endblock %}

{% block content %}
    <div>
    {{ div }}
    {{ script }}
    </div>

    <div>
    <table>
        <thead>
            <tr>
                <th></th>
                <th>ZŁ</th>
            </tr>
        </thead>
        <tbody>
        {% for month, data, month_url in all_data %}
            <tr>
                <th scope="row"><a href="/{{ year }}/{{ month_url }}/">{{ month }}</a></th>
                <th>{{ data }}</th>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th scope="row">Suma</th>
                <th>{{ year_sum }}</th>
            </tr>
        </tfoot>
    </table>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for cat, data in categories_res %}
                <tr>
                    <th scope="row">{{ cat }}</th>
                    <th>{{ data }}</th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
    {{ div1 }}
    {{ script1 }}
    </div>



{% endblock %}