{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ budget_year_title }} {{ year }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Podsumowanie budżetu {{ budget_year_title }} za rok {{ year }}</h3>
<h3>Saldo {{ total_budget }}</h3>

<div class="table">
    <div class="table">
        {{ div }}
        {{ script }}
    </div>
    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Miesiąc</th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for month, data, month_url in all_data %}
                <tr>
                    <th scope="row" class="button-setup"><a href="/budget/{{ id }}/{{ year }}/{{ month_url }}">{{ month }}</a></th>
                    <th>{{ data }}</th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">Suma</th>
                    <th>{{ year_sum }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

    <div>
        <div class="table">
        {{ div1 }}
        {{ script1 }}
        </div>
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th>Kategoria</th>
                        <th>ZŁ</th>
                    </tr>
                </thead>
                <tbody>
                {% for cat, data, id in categories_res %}
                    <tr>
                        <th scope="row" class="button-setup"><a href="/category/{{ id }}/{{ year }}/">{{ cat }}</a></th>
                        <td>{{ data }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}