{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Kwota twojego budżetu wynosi: {{ budget }} zł</h3>
{% if budget_owner != request.user.username %}
    <h4>Budżet należy do użytkownika {{ budget_owner }}.</h4>
    <h4>Nie masz dostępu do zawartości budżetu.</h4>
{% endif %}


<div class='col-sm-6'>
    {{ div }}
    {{ script }}
</div>

<table class="col-sm-6">
    <thead>
    <tr>
        <th>Kategoria</th>
        <th>ZŁ</th>
    </tr>
    </thead>
    <tbody>
    {% for cat, data, id in cat_all %}
    <tr>
        <td scope="row"><a href="/category/{{ id }}/">{{ cat }}</a></td>
        <td>{{ data }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<table class="table">
    <thead>
    <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Cena</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Kategoria</th>
    </tr>
    </thead>
    <tbody>
    {% for item, date, date_url, category, category_id in info %}
    <tr>
        <td>{{ item.title }}</td>
        <td>{{ item.value }}</td>
        <td><a href="/costs/{{ date_url }}/">{{ date }}</a></td>
        <td><a href="/category/{{ category_id }}/">{{ category }}</a></td>
        <td><a href="/budget_item_delete/{{ item.id }}/">Usuń</a></td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th>Suma wydatków</th>
        <td>{{ total }}</td>
    </tr>
    <tr>
        <th>Saldo</th>
        <td>{{ total_budget }}</td>
    </tr>
    </tfoot>
</table>

{% endblock %}