{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h3>Kwota twojego budżetu wynosi: {{ budget }} zł</h3>

<div class="table">
    {{ div }}
    {{ script }}
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for cat, data, id in cat_all %}
                <tr>
                    <th scope="row" class="button-setup"><a href="/category/{{ id }}/">{{ cat }}</a></th>
                    <td>{{ data }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </div>

    <table class="table-month">
        <thead>
            <tr>
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Data dodania</th>
                <th scope="col">Kategoria</th>
            </tr>
        </thead>
        <tbody>
            {% for item, date, date_url, category, category_id in info %}
            <tr>
                <td>{{ item.title }}</td>
                <td>{{ item.value }}</td>
                <td class="button-setup"><a href="/costs/{{ date_url }}/">{{ date }}</a></td>
                <td class="button-setup"><a href="/category/{{ category_id }}/">{{ category }}</a></td>
                <td class="button-setup"><a href="/budget_item_delete/{{ item.id }}/">Usuń</a></td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Suma wydatków</td>
                <td>{{ total }}</td>
            </tr>
            <tr>
                <td>Saldo</td>
                <td>{{ total_budget }}</td>
            </tr>
        </tfoot>
    </table>

{% endblock %}