{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %} Miesiąc {{ month }}/{{ year }}, budżet {{ budget_title }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
    <script src="{% static 'js/detail.js' %}"></script>
{% endblock %}

{% block content %}
<h3>Podsumowanie miesiąca {{ month }}.{{ year }}, budżet "{{ budget_title }}"</h3>
<div class="center">
    <div class="button">
        <ul>
            <li><a href={{ back }}>Poprzedni miesiąc</a></li>
            <li><a href="/costs/{{ year }}/">Podgląd bieżacego roku</a></li>
            <li><a href={{ another }}>Następny miesiąc</a></li>
        </ul>
    </div>
</div>

<h3>Saldo {{ total_budget }}</h3>
{% if budget_owner != request.user.username %}
    <h4>Budżet należy do użytkownika {{ budget_owner }}.</h4>
    <h4>Nie masz dostępu do zawartości budżetu.</h4>
{% endif %}

<table class="table">
    <thead>
    <tr>
        <th>Nazwa kategorii</th>
        <th>ZŁ</th>
        <th>Procent wydatków</th>
    </tr>
    </thead>
    <tbody>
    {% for title, id, value, percent in category_zip %}
    <tr>
        <td scope="row" class="button-setup"><a href="/category/{{ id }}/{{ year }}/{{ month }}/">{{ title }}</a></td>
        <td>{{ value }}</td>
        <td>{{ percent }}%</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div class="col-sm-6">
    {{ div }}
    {{ script }}
</div>

<div class="col-sm-6">
    {{ div_2 }}
    {{ script_2 }}
</div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th scope="col">Suma</th>
        <th scope="col">Średnia</th>
    </tr>
    </thead>
    <tbody>
    {% for day, sum, avg in day_data %}
    <tr>
        <th scope="row"><a href="/costs/{{ year }}/{{ month }}/{{ day }}/">Dzień {{ day }}</a>
        {% if day in detail_day_data_keys %}
            <button class="detail-button"><b>+</b></button>
            {% endif %}
        </th>
        <td>{{ sum }}</td>
        <td>{{ avg }}</td>
    </tr>
    </tbody>
    {% for keys, values in detail_day_data.items %}
    {% if keys == day %}
    <tbody class="detail">
    <tr>
        <th></th>
        <th>Cena</th>
        <th>Kategoria</th>
    </tr>
    {% for title, value, category in values %}
    <tr>
        <td><b>{{ title }}</b></td>
        <td>{{ value }}</td>
        <td>{{ category }}</td>
    </tr>
            {% endfor %}
    {% endif %}
    {% endfor %}
    </tbody>
    {% endfor %}
    <tfoot>
    <tr>
        <th>Cały miesiąc</th>
        <td><b>{{ month_sum }}</b></td>
        <td><b>{{ month_avg }}</b></td>
    </tr>
    </tfoot>
</table>

{% endblock %}