{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %} Rok {{ year }}, budżet "{{ budget_title }}"{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
        <div class="center">
            <div class="button">
                <ul>
                    <li><a href={{ back }}>Poprzedni rok</a></li>
                    <li><a href={{ another }}>Kolejny rok</a></li>
                </ul>
            </div>
        </div>
<h1>Rok {{ year }}, budżet "{{ budget_title }}"</h1>

<h3>Saldo {{ total_budget }}</h3>
{% if budget_owner != request.user.username %}
    <h4>Budżet należy do użytkownika {{ budget_owner }}.</h4>
    <h4>Nie masz dostępu do zawartości budżetu.</h4>
{% endif %}

<div class="col-sm-6">
    {{ div }}
    {{ script }}
</div>


<div class="col-sm-6">
    {{ div_2 }}
    {{ script_2 }}
</div>

<table class="col-sm-6">
    <thead>
    <tr>
        <th>Miesiąc</th>
        <th>ZŁ</th>
        <th>Procent</th>
    </tr>
    </thead>
    <tbody>
    {% for month, value, url, percent in year_data_zip %}
    <tr>
        <td scope="row"><a href="/costs/{{ year }}/{{ url }}/">{{ month }}</a></td>
        <td>{{ value }}</td>
        <td>{{ percent }}%</td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <th scope="row">Suma</th>
        <th>{{ year_sum }}</th>
    </tr>
    <tr>
        <th scope="row">Średnia</th>
        <th>{{ year_avg }}</th>
    </tr>
    </tfoot>
</table>

<table class="col-sm-6">
    <thead>
    <tr>
        <th>Kategoria</th>
        <th>Zł</th>
        <th>Procent</th>
    </tr>
    </thead>
    <tbody>
    {% for title, value, id, percent in year_categories_data_zip %}
    <tr>
        <td scope="row"><a href="/category/{{ id }}/{{ year }}/">{{ title }}</a></td>
        <td>{{ value }}</td>
        <td>{{ percent }}%</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}