{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ budget_year_title }} {{ year }}{% endblock %}

{% block content %}
<h3>Podsumowanie budżetu {{ budget_year_title }} za rok {{ year }}</h3>
<h3>Saldo {{ total_budget }}</h3>

{{ div }}
{{ script }}
    <div>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for month, data, month_url in all_data %}
                <tr>
                    <th scope="row"><a href="/budget/{{ id }}/{{ year }}/{{ month_url }}">{{ month }}</a></th>
                    <th>{{ data }}</th>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th scope="row">Suma</th>
                    <th>{{ year_sum }}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for cat, data in categories_res %}
                <tr>
                    <th scope="row">{{ cat }}</th>
                    <td>{{ data }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
    {{ div1 }}
    {{ script1 }}
    </div>

{% endblock %}