{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ budget_day_title }} {{ day }}/{{ month }}/{{ year }}{% endblock %}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Podsumowanie budżetu {{ budget_day_title }} za dzień {{ day }}.{{ month }}.{{ year }}</h3>
<h3>Saldo {{ total_budget }}</h3>

    <div class="center">
        <div class="button">
            <ul>
                <li><a href="/budget/{{ id }}/{{ year }}/{{ month }}/">Podgląd miesięczny</a></li>
                <li><a href="/budget/{{ id }}/{{ year}}/">Podgląd roczny</a></li>
            </ul>
        </div>
    </div>

<div class="table">
    <div class="table">
        {{ div }}
        {{ script }}
    </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Wartość</th>
                    <th scope="col">Kategoria</th>
                </tr>
            </thead>
            <tbody>
            {% for title, value, category, id in all_data %}
                <tr>
                    <th scope="row">{{ title }}</th>
                    <td>{{ value }}</td>
                    <td>{{ category }}</td>
                    <td class="button-setup"><a href="/delete/{{ id }}/">Usuń</a></td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Podsumowanie</th>
                    <td>{{ day_sum }}</td>
                </tr>
            </tfoot>
        </table>
        </div>
</div>

<div class="table">

    <div class="table">
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th scope="col">Nazwa</th>
                        <th scope="col">Cena</th>
                        <th scope="col">Kategoria</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Największy wydatek</th>
                        {% if day_max != 0 %}
                            {% for item in day_max %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Najmniejszy wydatek</th>
                        {% if day_min != 0 %}
                            {% for item in day_min %}
                            <td>{{ item }}</td>
                            {% endfor %}
                        {% endif %}
                    </tr>
                    <tr>
                        <th scope="row">Średnia</th>
                        <td>{{ day_avg }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th>Kategoria</th>
                    <th>ZŁ</th>
                </tr>
            </thead>
            <tbody>
            {% for cat, data in categories_res %}
                <tr>
                    <th scope="row">{{ cat }}</th>
                    <td>{{ data }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    </div>
{% endblock %}