{% extends 'core_sm/base.html' %}
{% load staticfiles %}

{% block title %}{{ budget_month_title }} {{ month }}-{{ year }}{% endblock%}
{% block script %}
    <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.css" type="text/css" />
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Podsumowanie budżetu {{ budget_month_title }} za miesiąc {{ month }}.{{ year }}</h3>
<h3>Saldo {{ total_budget }}</h3>
{% if budget_owner != request.user.username %}
    <h4>Budżet należy do użytkownika {{ budget_owner }}.</h4>
    <h4>Nie masz dostępu do zawartości budżetu.</h4>
{% endif %}

<div class="center">
    <div class="button">
        <ul>
            <li><a href="/budget/{{ id }}/{{ year }}/">Podgląd roczny</a></li>
        </ul>
    </div>
</div>


    <div>
        <table>
            <tbody>
                <tr>
                    <th>Najwięcej wydano</th>
                    <td>{{ max_month_value }}</td>
                    <th>Najmniej wydano</th>
                    <td>{{ max_month_day }}</td>
                </tr>
                <tr>
                    <th>W dniu</th>
                    <td>{{ max_month_day }}</td>
                    <th>W dniu</th>
                    <td>{{ min_month_day }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        {{ div }}
        {{ script }}
    </div>

    <div>
        <table class="table-month">
            <thead>
                <tr>
                    <th></th>
                    <th scope="col">Suma</th>
                    <th scope="col">Kwota maksymalna</th>
                    <th scope="col">Kwota minimalna</th>
                    <th scope="col">Średnia</th>
                </tr>
            </thead>
            <tbody>
                {% for day, sum, max, min, avg in day_data %}
                <tr>
                    <th scope="row"><a href="/budget/{{ id }}/{{ year }}/{{ month }}/{{ day }}">Dzień {{ day }}</a></th>
                    <td>{{ sum }}</td>
                    <td>{{ max }}</td>
                    <td>{{ min }}</td>
                    <td>{{ avg }}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th>Cały miesiąc</th>
                    <td>{{ sum_cost }}</td>
                    <td>{{ max_cost }}</td>
                    <td>{{ min_cost }}</td>
                    <td>{{ avg_cost }}</td>
                </tr>
            </tfoot>
        </table>
    </div>


<div>
    <div class="table">
        {{ div1 }}
        {{ script1 }}
    </div>

    <div class="table">
    <table>
        <thead>
            <tr>
                <th>Kategoria</th>
                <th>ZŁ</th>
            </tr>
        </thead>
        <tbody>
        {% for cat, data, id in categories_res %}
            <tr>
                <th scope="row" class="button-setup"><a href="/category/{{ id }}/{{ year }}/{{ month }}/">{{ cat }}</a></th>
                <td>{{ data }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock %}